/*Style for the PDF export with the VSCode extension "Markdown PDF"*/
body {
    font-size: 17px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    font-size: 33px;
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0d1594;
}

h3 {
    font-size: 28px;
    margin-top: 20px;
}

h4 {
    font-size: 26px;
    margin-top: 16px;
}

h5 {
    font-size: 22px;
    margin-top: 15px;
}

h6 {
    font-size: 19px;
    margin-top: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    break-after: avoid-page !important;
    margin-bottom: 3px !important;
}

img {
    break-before: avoid-page;
    margin: 5px 0px;
    box-shadow: 1px 2px 10px 2px rgba(87, 87, 87, 0.2);
}

table {
    margin: 10px 0px;
}

p code, table code, div code, li code {
    color: #0d1594 !important;
    padding: 2px 3px; 
    background-color: rgb(238, 249, 255);
    border-radius: 4px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

div.together
{
  page-break-after: always;
  page-break-inside: avoid;
}

div.together-x
{
  page-break-before: auto;
  page-break-inside: avoid;
}

pre code div {
    padding: 2px 10px !important;
    font-size: 12px !important;
}

pre code {
    padding: 0px;
    /*font-family: Melo;*/
}

.toc strong {
    float: right;
    margin-right: 10px;
    color: red;
}

.toc {
    margin-top: 10px;
}

.toc li {
    margin-left: 0px;
}

td, th {
    border: 1px gray solid;
}

th {
    white-space: nowrap;
    background-color: #0d16943d !important;
}

td li {
    margin-left: 10px;
}


div.center {
    display: flex !important;
    justify-content: center !important;
}

pre.text-sm {
    border: 1px solid lightgray;
    padding: 8px;
    font-size: 12px;
}

pre.text-sm span {
    color: #0d1594 !important;
}

a {
    font-weight: 500;
}

body .journal {
    font-size: 13px !important;
}